[submodule "submodules/nanovg"]
	path = submodules/nanovg
	url = https://github.com/protocolocon/nanovg.git
[submodule "submodules/nanosvg"]
	path = submodules/nanosvg
	url = https://github.com/protocolocon/nanosvg.git
[submodule "submodules/Catch"]
	path = submodules/Catch
	url = https://github.com/protocolocon/Catch.git
[submodule "submodules/uWebSockets"]
	path = submodules/uWebSockets
	url = https://github.com/protocolocon/uWebSockets.git
[submodule "submodules/freetype2"]
	path = submodules/freetype2
	url = https://github.com/protocolocon/freetype2.git
